.dashboard-section{
    position: relative;
    background: $DXCbackground;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 4.9rem);
    height: 100%;
    //text-align: start;
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .maindash{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: pink;
    border-radius: 20px;
    border-color: $grayishBlue;
    box-shadow: 0 7px 25px rgba(0,0,0,0.20);  
    height: auto;
    width: calc(100% - 7.9rem);
    padding-left: 3rem;
    padding-right: 3rem;   
}



.cardBox{

    display: flex;
    flex-direction: row;
    justify-content: left;
    //position: relative;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.card{

    margin: 0.25rem;
    border-radius: 20px; 
    box-shadow: 0 7px 25px rgba(0,0,0,0.20);

}

.text_card{

    width: auto;

}

.temp_card{

    width: 30%;

}

.chart_card{

    width: 100%;

}
