.footer{

    background-color: $lightishRockGrey;
    color: black;
    text-align: center;
    margin: 0;
    padding: 1px;
    position: sticky;
    left: 0;
    bottom: 0;
    //width: 100%;
    //height: auto;
    //background-color: black;
    //opacity: 95%;

}