.header{

    position:sticky;
    z-index: 3;
    top: 0;
    border-bottom: 0.001rem solid black;

    nav {        
        display:flex;
        justify-content: space-between;
        text-align: center;
        

        background-color: $lightishRockGrey;

        //padding-top: .3625rem; // 1.625 before
        //padding-bottom: .3625rem;
        
        width: auto;
        
    }

    li{
        margin: 15px 5px;
    }

    img{
        //background-image: url("/images/logo.png");
        width: 8rem;
       
    }
}


.nav-bar{
    flex-grow: 0.25;
    display: flex;
    align-self: center;

    list-style-type: none;
    
}

.links{

    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    color: $DXCpurple;
    transition: background 0.3s ease-in;

    &:hover{
        
        background: $DXCpurple;
        color: $lightGrayishBlue;

    }
    
}

    

.font-style{
    text-decoration: none;
    color: $grayishBlue;
}
