
.side-menu {
    position: fixed;
    top: auto;
    //left: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 5rem;
    list-style-type: none;
    background: rgb(95, 36, 159);
    overflow: hidden;
    transition: width .5s;
  }

  .side-menu:hover {
    width: 20rem;
  }
  
  .side-menu li {
    width: 20rem;
  }
  
  .side-menu li span {
    margin: 1rem 2rem 0 2rem;
    //padding: 2rem 1rem 0 2rem;
    font-size: $font-large;
    width: 2rem;
  }
  
  .side-menu li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    height: 4rem;
    align-items: center;
  }
  
  .side-menu li a:hover{
    background: #14081d;
    //padding-top: 1rem;
    //width: auto;
    //display: block;
  }
  
  .Menu_heading{
    color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 6rem;
    font-weight: 1000;

  }
  
  .sidebar{
    position: fixed;
    left: 0;
    top: auto;
    height: 100%;
    width: 5rem;
    background: $DXCpurple;
    //padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open{
    width: 15rem;
  }
  .sidebar .logo-details{
    height: 5rem;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: $font-large;
    font-weight: 600;
    //overflow-wrap: normal;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: left;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: left;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    //width: 1rem;
    font-size: 28px;
    text-align: left;
    line-height: 60px;
    margin: 0px 15px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    margin-left: -1.4rem;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    //padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
  .sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: $DXCpurple;
  }
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar.open .bx-search:hover{
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar .bx-search:hover{
    background: #FFF;
    color: $DXCpurple;
  }
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    
    //border-radius: 12px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    align-items: center;
    text-decoration: none;
    //transition: all 0.3s ease;
    background: $DXCpurple;
  }
  .sidebar li a:hover, 
  .sidebar li a.clicked{
    background: $DXCbackground;
    
  }
  

  // Curve outside of menu
 .sidebar li:hover a::before, 
.sidebar li a.clicked::before{

    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;    
    border-radius: 50%;
    //box-shadow: 35px 35px 0px 10px var(--white);
    box-shadow: 35px 35px 0px 10px $DXCbackground;
    pointer-events: none;
 }

 .sidebar li:hover a::after,
 .sidebar li a.clicked::after{

  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;    
  border-radius: 50%;
  //box-shadow: 35px 35px 0px 10px var(--white);
  box-shadow: 35px -35px 0px 10px $DXCbackground;
  pointer-events: none;
}
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a.clicked .links_name,
  .sidebar li a:hover i,
  .sidebar li a.clicked i{
    transition: all 0.5s ease;
    color: $DXCpurple;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    //border-radius: 12px;
  }


  .sidebar li img{
    height: 45px;
    //width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
 


  .user-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: auto;
    transition: all 0.5s ease;
    z-index: 2;
  }


  .sidebar.open ~ .dashboard-section{
    left: 240px;
    width: calc(100% - 240px);
  }

  .sidebar.open ~ .user-section{
    left: 240px;
    width: calc(100% - 240px);
  }

  .dashboard-section .text,
  .user-section .text{
    display: inline-block;
    color: $DXCpurple;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }
  




  // Technical Bootcamp .scss

  .technical_outer{

    display: flex;
    justify-content: center;
    padding: 1rem;

  }

  .technical_inner{

    display: flex;
    flex-direction: column;
    text-align: center;
    color: $DXCpurple;

  }

  .pagetitle{

    position: absolute;
    top:0;  
    vertical-align: top;
    align-items:flex-start;
  }

  