  // Technical Bootcamp .scss

  .bootcamp-pages{
    position: relative;
    background: $DXCbackground;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 4.9rem);
    height: 100%;
    //text-align: start;
    transition: all 0.5s ease;
    z-index: 2;
  }

  .sidebar.open ~ .bootcamp-pages{
    left: 240px;
    width: calc(100% - 240px);
  }

  .technical_outer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

  }

  .technical_inner{

    display: flex;
    flex-direction: column;
    text-align: center;
    color: $DXCpurple;

  }

  .pagetitle{

    position: absolute;
    top:0;  
    vertical-align: top;
    align-items:flex-start;
  }

  .accordian_display{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 5rem;
    align-items: center;


  }

  .temp{

    margin-left: 20rem;

  }

  .testy{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    height: 50rem;
    width: 100%;

  }

  .testies{
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    height: 40rem;
    margin-left: 25rem;
    width: 50%;
    justify-content: space-around;
    text-align: center;
    align-items: center;

  }

  .testies2{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    height: 40rem;
    margin-left: 25rem;
    width: 50%;
    justify-content: space-around;
    text-align: center;
    align-items: center;

  }
