
// Colours
$darkBlue:hsl(233, 26%, 24%);
$darkdarkBlue:hsl(210, 7%, 5%);
$violet: hsl(257, 40%, 49%);
$softMagenta: hsl(300, 69%, 71%);
$brightcyan: hsl(192, 70%, 51%); 
$grayishBlue: hsl(150, 8%, 62%);
$lightGrayishBlue : hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$lightishGrey: #c8d6e5;
$lightishRockGrey: #a5b1c2;
$DXCpurple: rgb(95, 36, 159);
$darkgrey: #1e272e;
$DXCbackground: #E4E9F7;
$DarkBackground: #363636;

// Font sizes
$font-small: 0.875rem; // 14px
$font-med: 1.125rem; // 18 px
$font-large: 1.375rem; // 22 px